.animate-text {
    display: inline-block;
    animation: scroll 10s linear infinite;
    position: relative;
    bottom: 0;
    
}

  @keyframes scroll {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  /* Pause animation on hover */
.animate-text:hover {
  animation-play-state: paused; /* Pause the animation */
}
  
